@import url(https://fonts.googleapis.com/css?family=Lato);
@import "_structure.scss";

$global-font: 'Lato', sans-serif;
// "chill" shade set
$shade-1: #E5EEC1;
$shade-2: #A2D4AB;
$shade-3: #3EACA8;
$shade-4: #547A82;
$shade-5: #5A5050;
// box and text shadows
$soft-shadow: rgba(0, 0, 0, 0.4);
$softer-shadow: rgba(0, 0, 0, 0.2);
$invisible: rgba(0, 0, 0, 0);

$headerh: 50px;
$headerslimh: 30px;

$transition-t: 0.5s;

// END GLOBALS

* {
	box-sizing: border-box;
}

.hidden {
	display: none;
	background: #F00 !important;
}

/* div containing all functionality */
.app {
	color: #FFF;
	display: block;
	float: left;
	height: calc(100vh - 50px);
	margin-top: $headerh;
	transition: $transition-t;
	width: 100%;

	/* UI side panels */
	.side-panel {
		background: $shade-5;
		border: 1px solid $shade-4;
		box-shadow: 0 0 10px $soft-shadow;
		height: calc(100% - 50px);
		max-width: 45%;
		min-width: 375px;
		position: absolute;
		top: $headerh;
		transition: $transition-t;

		/* container inside panels, used for scrolling */
		.panel-container {
			height: 100%;
			padding: 10px;
			width: 100%;
		}

		/* resize control arrow */
		.resizer {
			bottom: 0;
			cursor: col-resize;
			fill: #FFF;
			margin: 5px;
			position: absolute;
		}

		.resizer:hover { fill: $shade-3; }

		.resizer-left {
			right: -26px;
			transform: rotate(270deg);
		}

		.resizer-right {
			left: -26px;
			transform: rotate(90deg);
		}

		.resizer-left-toggled { transform: rotate(90deg); }
		.resizer-right-toggled { transform: rotate(270deg); }
	}

	/* left and right panel positioning */
	.side-panel-left { left: 0; }
	.side-panel-right { right: 0; }
}

/* slim app sizings, to fit with slim navigation bar */
.app-slim {
	height: calc(100vh - 30px);
	margin-top: $headerslimh;

	.side-panel {
		height: calc(100% - 30px);
		top: $headerslimh;
	}

	#canvas {
		height: calc(100vh - 30px) !important;
	}
}

/* generic sub-panel sections */
.section {
	border: 1px solid $shade-4;
	border-radius: 5px;
	box-shadow: 1px 1px 0 $softer-shadow;
	margin-bottom: 10px;
	overflow-y: hidden;

	/* section header */
	h4 {
		background: $shade-4;
		border-bottom: 1px solid $shade-4;
		font-size: 0.8em;
		margin: 0;
		padding: 5px;
		text-align: center;
		text-shadow: 2px 2px 0 $softer-shadow;
		text-transform: uppercase;
	}

	.section-content {
		color: #FFF;
		width: 100%;
		background: $shade-5;
		border-radius: 5px;
		transition: 0.5s;
	}

	#code-text {
		font-size: 0.8em;
		border: none;
		min-height: 400px;
		height: 400px;
		background: $shade-5;
		resize: vertical;
		width: 100%;
		font-family: "Monaco", monospace;
		overflow-y: scroll;
		transition: none;
		color: #FFF;
		padding: 0;
	}
}

.hidden-section {
	.section-content {
		min-height: 0;
		height: 0;
		overflow: hidden;
	}

	#code-text {
		height: 0;
		min-height: 0;
	}
}

.section-opts {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;

	li {
		text-align: center;
		display: inline-block;
		margin: 0;
		padding: 5px;
		flex-grow: 1;
	}
}

/* hover tooltip */
#tooltip {
	background: $shade-5;
	border: 1px solid $shade-4;
	box-shadow: 2px 2px 0px $softer-shadow;
	color: #FFF;
	left: 0;
	overflow: hidden;
	padding: 5px;
	position: fixed;
	text-align: center;
	top: 0;
	z-index: 99;

	/* tooltip header (optional) */
	h4 {
		border-bottom: 1px solid $shade-4;
		margin: 0;
		padding: 5px;
	}

	/* main text */
	p {
		font-size: 0.8em;
		margin: 0;
		padding: 5px;
	}

	/* monospace text */
	pre { 
		font-family: "Monaco", monospace;
		text-align: left;
	}
}

/* three js canvas container */
.canvas-container {
	height: calc(100vh - 50px);
	width: 100%;

	canvas {
		height: 100%;
		width: 100%;
	}
}

#structure {

	.content {
		ul {
			list-style-type: none;
			display: block;
			padding: 0px;
			margin: 0px;

			li {
				width: 100%;
				padding: 0px;
				//background: $shade-4;
				border-bottom: 1px solid $shade-4;

				p {
					margin: 0px;
					display: inline-block;
				}

				input[type="checkbox"] {
					float: right;
					vertical-align: middle;
				}

				.structure-header {
					padding: 5px;

					.toggle-icon {
						fill: #FFF;
						height: 20px;
						width: 20px;
						vertical-align: middle;
						float: right;
						transform: rotate(180deg);
						transition: 0.5s;
					}
				}

				.structure-header:hover {
					background: $shade-4;

					.toggle-icon {
						fill: $shade-3;
					}
				}

				.structure-header[isopen="true"] {
					//box-shadow: 0px 5px 10px $softer-shadow;
					border-bottom: 1px solid $shade-3;

					.toggle-icon {
						transform: rotate(0deg);
					}
				}

				ul {
					padding: 5px;
					width: calc(100% - 10px);

					li {
						box-sizing: border-box;
						margin: 0px;
						padding: 0px;
						//border: 1px solid $shade-4;
						border: none;
						margin-top: 2px;
						border-radius: 5px;
						box-shadow: 1px 1px 0px $softer-shadow;
						min-height: 23px;

						.toggle-icon {
							vertical-align: middle;
							float: right;
							padding: 3.5px;
							transform: rotate(180deg);
							transition: 0.5s;
						}

						.texture-info {
							border-radius: 5px;
						}

						.texture-info:hover {
							background: $shade-4;
						}

						.element-header {
							border-radius: 5px;
						}

						.element-header:hover {
							background: $shade-4;

							.toggle-icon {
								fill: $shade-3;
							}
						}

						.element-header[isopen="true"] {
							border-bottom: 1px solid $shade-3;
							border-radius: 5px 5px 0px 0px;

							.action {
								border-radius: 5px 0px 0px 0px;
							}

							.action-notleft {
								border-radius: 0px;
							}

							.toggle-icon {
								transform: rotate(0deg);
							}
						}

						.element-structure {
							border-radius: 0px 0px 5px 5px;
							border: 1px solid $shade-4;
							overflow: hidden;
							font-size: 0.8em;
							width: calc(100% - 12px);

							li:hover {
								background: $shade-4;
							}

							.element-values {
								text-align: right;
								width: 80%;//calc(80% - 22px);
								display: inline-block;
							}

							input[type="number"] {
								padding: 3px;
								vertical-align: middle;
								width: 27px;
								color: #FFF;
								background: $shade-5;
								border: none;
								border-bottom: 1px solid $shade-4;
								border-radius: 4px;
								margin-right: 3px;
								text-align: center;
							}

							input[type="number"]:hover {
								border-bottom: 1px solid $shade-3;
							}

							input[type="checkbox"] {
								margin: 5px;
							}
						}

						.element-key {
							vertical-align: middle;
							width: calc(20% - 7px);
							padding: 3.5px;
						}
					}

					input[type="text"] {
						vertical-align: middle;
						padding: 3px;
						margin: 1px;
						background: $shade-5;
						border: none;
						border-bottom: 1px solid $shade-4;
						color: #FFF;
						font-family: "Monaco", monospace;
						width: calc(75% - 27px);
						//box-shadow: inset 2px 2px 0px $softer-shadow;
						font-size: 0.6em;
						border-radius: 4px;
					}

					input[type="text"]:hover {
						border-bottom: 1px solid $shade-3;
					}

					input[type="text"]:active {
						border-bottom: 1px solid $shade-2;
					}

					.key {
						vertical-align: middle;
						padding: 3.5px;
						width: calc(25% - 12px) !important;
						font-size: 0.8em;
					}

					[class^="element-header-"] {
						vertical-align: middle;
						padding: 3.5px;
						font-size: 0.8em;
					}

					.element-header-id {
						text-align: center;
						width: 20px;
					}

					.action {
						vertical-align: middle;
						padding: 5px;
						border-radius: 5px 0px 0px 5px;
						height: 13px;
						width: 12px;
						overflow: visible;
					}

					.action-notleft {
						@extend .action;
						border-radius: 0px;
					}

					.action-double {
						@extend .action;
						width: 34px;
					}
				}
			}
		}
	}

	.collapsed {
		height: 0px;
		padding: 0px !important;
		overflow: hidden !important;
		box-shadow: none;
		border: none !important;
	}
}

.button {
	background: $shade-4;
	transition: 0.1s;
}

.button:hover {
	background: $shade-3;
}

.button:active {
	background: $shade-2;
}

.button-disabled {
	background: $shade-4;
	fill: $shade-5;
}