@import url(https://fonts.googleapis.com/css?family=Lato);
#model-structure {
  /* generic ul and li */
  /* action buttons */
  /* top level headers (AO, textures, elements) */
  /* lower-level headers */ }
  #model-structure ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    #model-structure ul li {
      border-bottom: 1px solid #547A82;
      padding: 0;
      width: 100%; }
  #model-structure .action, #model-structure #structure .content ul li ul .action-notleft, #structure .content ul li ul #model-structure .action-notleft, #model-structure #structure .content ul li ul .action-double, #structure .content ul li ul #model-structure .action-double {
    border-radius: 5px 0 0 5px;
    height: 18px;
    overflow: visible;
    padding: 5px;
    vertical-align: middle;
    width: 17px; }
  #model-structure .top-level-header {
    padding: 5px;
    /* header text */
    /* icon to toggle section collapse */ }
    #model-structure .top-level-header p {
      display: inline-block;
      margin: 0; }
    #model-structure .top-level-header .toggle-collapse {
      float: right;
      transform: rotate(180deg);
      transition: 0.5s;
      vertical-align: middle; }
  #model-structure .level-header {
    border-radius: 5px; }
  #model-structure .level-header:hover {
    background: #547A82; }
  #model-structure .level-list {
    padding: 5px; }

* {
  box-sizing: border-box; }

.hidden {
  display: none;
  background: #F00 !important; }

/* div containing all functionality */
.app {
  color: #FFF;
  display: block;
  float: left;
  height: calc(100vh - 50px);
  margin-top: 50px;
  transition: 0.5s;
  width: 100%;
  /* UI side panels */
  /* left and right panel positioning */ }
  .app .side-panel {
    background: #5A5050;
    border: 1px solid #547A82;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    height: calc(100% - 50px);
    max-width: 45%;
    min-width: 375px;
    position: absolute;
    top: 50px;
    transition: 0.5s;
    /* container inside panels, used for scrolling */
    /* resize control arrow */ }
    .app .side-panel .panel-container {
      height: 100%;
      padding: 10px;
      width: 100%; }
    .app .side-panel .resizer {
      bottom: 0;
      cursor: col-resize;
      fill: #FFF;
      margin: 5px;
      position: absolute; }
    .app .side-panel .resizer:hover {
      fill: #3EACA8; }
    .app .side-panel .resizer-left {
      right: -26px;
      transform: rotate(270deg); }
    .app .side-panel .resizer-right {
      left: -26px;
      transform: rotate(90deg); }
    .app .side-panel .resizer-left-toggled {
      transform: rotate(90deg); }
    .app .side-panel .resizer-right-toggled {
      transform: rotate(270deg); }
  .app .side-panel-left {
    left: 0; }
  .app .side-panel-right {
    right: 0; }

/* slim app sizings, to fit with slim navigation bar */
.app-slim {
  height: calc(100vh - 30px);
  margin-top: 30px; }
  .app-slim .side-panel {
    height: calc(100% - 30px);
    top: 30px; }
  .app-slim #canvas {
    height: calc(100vh - 30px) !important; }

/* generic sub-panel sections */
.section {
  border: 1px solid #547A82;
  border-radius: 5px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  overflow-y: hidden;
  /* section header */ }
  .section h4 {
    background: #547A82;
    border-bottom: 1px solid #547A82;
    font-size: 0.8em;
    margin: 0;
    padding: 5px;
    text-align: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase; }
  .section .section-content {
    color: #FFF;
    width: 100%;
    background: #5A5050;
    border-radius: 5px;
    transition: 0.5s; }
  .section #code-text {
    font-size: 0.8em;
    border: none;
    min-height: 400px;
    height: 400px;
    background: #5A5050;
    resize: vertical;
    width: 100%;
    font-family: "Monaco", monospace;
    overflow-y: scroll;
    transition: none;
    color: #FFF;
    padding: 0; }

.hidden-section .section-content {
  min-height: 0;
  height: 0;
  overflow: hidden; }
.hidden-section #code-text {
  height: 0;
  min-height: 0; }

.section-opts {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }
  .section-opts li {
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 5px;
    flex-grow: 1; }

/* hover tooltip */
#tooltip {
  background: #5A5050;
  border: 1px solid #547A82;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  color: #FFF;
  left: 0;
  overflow: hidden;
  padding: 5px;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 99;
  /* tooltip header (optional) */
  /* main text */
  /* monospace text */ }
  #tooltip h4 {
    border-bottom: 1px solid #547A82;
    margin: 0;
    padding: 5px; }
  #tooltip p {
    font-size: 0.8em;
    margin: 0;
    padding: 5px; }
  #tooltip pre {
    font-family: "Monaco", monospace;
    text-align: left; }

/* three js canvas container */
.canvas-container {
  height: calc(100vh - 50px);
  width: 100%; }
  .canvas-container canvas {
    height: 100%;
    width: 100%; }

#structure .content ul {
  list-style-type: none;
  display: block;
  padding: 0px;
  margin: 0px; }
  #structure .content ul li {
    width: 100%;
    padding: 0px;
    border-bottom: 1px solid #547A82; }
    #structure .content ul li p {
      margin: 0px;
      display: inline-block; }
    #structure .content ul li input[type="checkbox"] {
      float: right;
      vertical-align: middle; }
    #structure .content ul li .structure-header {
      padding: 5px; }
      #structure .content ul li .structure-header .toggle-icon {
        fill: #FFF;
        height: 20px;
        width: 20px;
        vertical-align: middle;
        float: right;
        transform: rotate(180deg);
        transition: 0.5s; }
    #structure .content ul li .structure-header:hover {
      background: #547A82; }
      #structure .content ul li .structure-header:hover .toggle-icon {
        fill: #3EACA8; }
    #structure .content ul li .structure-header[isopen="true"] {
      border-bottom: 1px solid #3EACA8; }
      #structure .content ul li .structure-header[isopen="true"] .toggle-icon {
        transform: rotate(0deg); }
    #structure .content ul li ul {
      padding: 5px;
      width: calc(100% - 10px); }
      #structure .content ul li ul li {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        border: none;
        margin-top: 2px;
        border-radius: 5px;
        box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
        min-height: 23px; }
        #structure .content ul li ul li .toggle-icon {
          vertical-align: middle;
          float: right;
          padding: 3.5px;
          transform: rotate(180deg);
          transition: 0.5s; }
        #structure .content ul li ul li .texture-info {
          border-radius: 5px; }
        #structure .content ul li ul li .texture-info:hover {
          background: #547A82; }
        #structure .content ul li ul li .element-header {
          border-radius: 5px; }
        #structure .content ul li ul li .element-header:hover {
          background: #547A82; }
          #structure .content ul li ul li .element-header:hover .toggle-icon {
            fill: #3EACA8; }
        #structure .content ul li ul li .element-header[isopen="true"] {
          border-bottom: 1px solid #3EACA8;
          border-radius: 5px 5px 0px 0px; }
          #structure .content ul li ul li .element-header[isopen="true"] .action, #structure .content ul li ul li .element-header[isopen="true"] .action-notleft, #structure .content ul li ul li .element-header[isopen="true"] .action-double {
            border-radius: 5px 0px 0px 0px; }
          #structure .content ul li ul li .element-header[isopen="true"] .action-notleft {
            border-radius: 0px; }
          #structure .content ul li ul li .element-header[isopen="true"] .toggle-icon {
            transform: rotate(0deg); }
        #structure .content ul li ul li .element-structure {
          border-radius: 0px 0px 5px 5px;
          border: 1px solid #547A82;
          overflow: hidden;
          font-size: 0.8em;
          width: calc(100% - 12px); }
          #structure .content ul li ul li .element-structure li:hover {
            background: #547A82; }
          #structure .content ul li ul li .element-structure .element-values {
            text-align: right;
            width: 80%;
            display: inline-block; }
          #structure .content ul li ul li .element-structure input[type="number"] {
            padding: 3px;
            vertical-align: middle;
            width: 27px;
            color: #FFF;
            background: #5A5050;
            border: none;
            border-bottom: 1px solid #547A82;
            border-radius: 4px;
            margin-right: 3px;
            text-align: center; }
          #structure .content ul li ul li .element-structure input[type="number"]:hover {
            border-bottom: 1px solid #3EACA8; }
          #structure .content ul li ul li .element-structure input[type="checkbox"] {
            margin: 5px; }
        #structure .content ul li ul li .element-key {
          vertical-align: middle;
          width: calc(20% - 7px);
          padding: 3.5px; }
      #structure .content ul li ul input[type="text"] {
        vertical-align: middle;
        padding: 3px;
        margin: 1px;
        background: #5A5050;
        border: none;
        border-bottom: 1px solid #547A82;
        color: #FFF;
        font-family: "Monaco", monospace;
        width: calc(75% - 27px);
        font-size: 0.6em;
        border-radius: 4px; }
      #structure .content ul li ul input[type="text"]:hover {
        border-bottom: 1px solid #3EACA8; }
      #structure .content ul li ul input[type="text"]:active {
        border-bottom: 1px solid #A2D4AB; }
      #structure .content ul li ul .key {
        vertical-align: middle;
        padding: 3.5px;
        width: calc(25% - 12px) !important;
        font-size: 0.8em; }
      #structure .content ul li ul [class^="element-header-"] {
        vertical-align: middle;
        padding: 3.5px;
        font-size: 0.8em; }
      #structure .content ul li ul .element-header-id {
        text-align: center;
        width: 20px; }
      #structure .content ul li ul .action, #structure .content ul li ul .action-notleft, #structure .content ul li ul .action-double {
        vertical-align: middle;
        padding: 5px;
        border-radius: 5px 0px 0px 5px;
        height: 13px;
        width: 12px;
        overflow: visible; }
      #structure .content ul li ul .action-notleft {
        border-radius: 0px; }
      #structure .content ul li ul .action-double {
        width: 34px; }
#structure .collapsed {
  height: 0px;
  padding: 0px !important;
  overflow: hidden !important;
  box-shadow: none;
  border: none !important; }

.button {
  background: #547A82;
  transition: 0.1s; }

.button:hover {
  background: #3EACA8; }

.button:active {
  background: #A2D4AB; }

.button-disabled {
  background: #547A82;
  fill: #5A5050; }

/*# sourceMappingURL=app.css.map */
