@import url(https://fonts.googleapis.com/css?family=Lato);
#model-structure p {
  /* all text */
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: default; }
#model-structure ul {
  /* generic ul */
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0; }
  #model-structure ul li {
    /* generic li */
    padding: 0;
    width: 100%; }
#model-structure .level-header {
  /* lower-level headers */
  background: #5A5050;
  border-radius: 5px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2); }
  #model-structure .level-header .action {
    /* action buttons */
    height: 23px;
    overflow: visible;
    padding: 6px;
    vertical-align: middle;
    width: 23px; }
  #model-structure .level-header .action-double {
    width: 46px; }
  #model-structure .level-header .action:first-child {
    /* left-most action button needs rounding */
    border-radius: 5px 0 0 5px; }
  #model-structure .level-header .toggle-collapse {
    /* icon to toggle section collapse */
    float: right;
    margin: 3.5px;
    transform: rotate(180deg);
    transition: 0.5s;
    vertical-align: middle; }
#model-structure .level-header[isopen="true"] {
  border-bottom: 1px solid #3EACA8;
  border-radius: 5px 5px 0 0; }
  #model-structure .level-header[isopen="true"] .toggle-collapse {
    transform: rotate(0deg); }
#model-structure .level-header:hover, #model-structure .level-header[object-hovered="true"] {
  background: #547A82; }
#model-structure .level-list {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #547A82;
  border-radius: 0 0 5px 5px;
  border-top: none;
  padding: 5px; }
  #model-structure .level-list li {
    margin-top: 5px; }
  #model-structure .level-list li:first-child {
    margin-top: 0; }
#model-structure .top-level-header {
  /* top level headers (AO, textures, elements) */
  border-bottom: 1px solid #547A82;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  padding: 5px; }
  #model-structure .top-level-header .toggle-collapse {
    margin: 0; }
#model-structure .top-level-header:hover {
  border-bottom: 1px solid #3EACA8; }
#model-structure .label {
  /* info and level labels */
  font-size: 0.8em;
  padding: 2px 8px;
  vertical-align: middle;
  width: 30%; }
#model-structure .label-id {
  text-align: center;
  width: 30px; }
#model-structure .label-1-button {
  width: calc(30% - 23px); }
#model-structure .label-2-button {
  width: calc(30% - 46px); }
#model-structure .input {
  display: inline-block;
  width: calc(70% - 2px);
  vertical-align: middle; }
#model-structure .input-flex {
  display: inline-flex; }
#model-structure .input-label {
  width: calc(30% - 2px); }
#model-structure .input-label-1-button {
  width: calc(30% - 25px); }
#model-structure input[type="checkbox"] {
  /* checkboxes */
  float: right;
  vertical-align: middle; }
#model-structure input[type="text"], #model-structure input[type="number"], #model-structure select {
  /* text boxes */
  background: #5A5050;
  border: none;
  border-bottom: 1px solid #547A82;
  border-top: 1px solid #5A5050;
  border-radius: 4px;
  color: #FFF;
  font-family: "Monaco", monospace;
  font-size: 0.8em;
  height: 19px;
  margin: 1px;
  padding: 3px; }
#model-structure select {
  padding: 0; }
#model-structure input[type="text"]:hover, #model-structure input[type="number"]:hover {
  border-bottom: 1px solid #3EACA8; }
#model-structure input[type="text"]:focus, #model-structure input[type="number"]:focus {
  border-bottom: 1px solid #A2D4AB;
  /* remove OS's outline */
  outline: none; }
#model-structure input[type="number"] {
  flex-grow: 1;
  min-width: 30px; }
#model-structure .collapsed {
  border: none;
  height: 0;
  overflow: hidden;
  padding: 0; }

* {
  box-sizing: border-box; }

.hidden {
  display: none;
  background: #F00 !important; }

/* div containing all functionality */
.app {
  color: #FFF;
  display: block;
  float: left;
  height: calc(100vh - 50px);
  margin-top: 50px;
  transition: 0.5s;
  width: 100%;
  /* UI side panels */
  /* left and right panel positioning */ }
  .app .side-panel {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #547A82;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    height: calc(100% - 50px);
    max-width: 45%;
    min-width: 375px;
    position: absolute;
    top: 50px;
    transition: 0.5s;
    /* container inside panels, used for scrolling */
    /* resize control arrow */ }
    .app .side-panel .panel-container {
      height: 100%;
      padding: 10px;
      width: 100%; }
    .app .side-panel .resizer {
      bottom: 0;
      cursor: col-resize;
      fill: #FFF;
      margin: 5px;
      position: absolute; }
    .app .side-panel .resizer:hover {
      fill: #3EACA8; }
    .app .side-panel .resizer-left {
      right: -26px;
      transform: rotate(270deg); }
    .app .side-panel .resizer-right {
      left: -26px;
      transform: rotate(90deg); }
    .app .side-panel .resizer-left-toggled {
      transform: rotate(90deg); }
    .app .side-panel .resizer-right-toggled {
      transform: rotate(270deg); }
  .app .side-panel-left {
    left: 0; }
  .app .side-panel-right {
    right: 0; }

/* slim app sizings, to fit with slim navigation bar */
.app-slim {
  height: calc(100vh - 30px);
  margin-top: 30px; }
  .app-slim .side-panel {
    height: calc(100% - 30px);
    top: 30px; }
  .app-slim #canvas {
    height: calc(100vh - 30px) !important; }

/* generic sub-panel sections */
.section {
  background: #5A5050;
  border: 1px solid #547A82;
  border-radius: 5px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  overflow-y: hidden;
  /* section header */ }
  .section h4 {
    background: #547A82;
    border-bottom: 1px solid #547A82;
    font-size: 0.8em;
    margin: 0;
    padding: 5px;
    text-align: center;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase; }
  .section .section-content {
    color: #FFF;
    width: 100%;
    background: #5A5050;
    border-radius: 5px;
    transition: 0.5s; }
  .section #code-text {
    font-size: 0.8em;
    border: none;
    height: 50vh;
    background: #5A5050;
    resize: vertical;
    width: 100%;
    font-family: "Monaco", monospace;
    overflow-y: scroll;
    transition: none;
    color: #FFF;
    padding: 0; }

.hidden-section .section-content {
  min-height: 0;
  height: 0;
  overflow: hidden; }
.hidden-section #code-text {
  height: 0;
  min-height: 0; }

.section-opts {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }
  .section-opts li {
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 5px;
    flex-grow: 1; }

/* hover tooltip */
#tooltip {
  background: #5A5050;
  border: 1px solid #547A82;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  color: #FFF;
  left: 0;
  overflow: hidden;
  padding: 5px;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 99;
  /* tooltip header (optional) */
  /* main text */
  /* monospace text */ }
  #tooltip h4 {
    border-bottom: 1px solid #547A82;
    margin: 0;
    padding: 5px; }
  #tooltip p {
    font-size: 0.8em;
    margin: 0;
    padding: 5px; }
  #tooltip pre {
    font-family: "Monaco", monospace;
    text-align: left; }

/* three js canvas container */
.canvas-container {
  height: calc(100vh - 50px);
  width: 100%; }
  .canvas-container canvas {
    height: 100%;
    width: 100%; }

.button {
  background: #547A82;
  transition: 0.1s; }

.button:hover {
  background: #3EACA8; }

.button:active {
  background: #A2D4AB; }

.button-disabled {
  background: #547A82;
  fill: #5A5050; }

/*# sourceMappingURL=app.css.map */
