@import url(https://fonts.googleapis.com/css?family=Lato);
* {
  font-family: "Lato", sans-serif; }

html, body {
  background: #222;
  padding: 0px;
  margin: 0px;
  overflow: hidden; }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #333; }

::-webkit-scrollbar-thumb {
  background: #9b59b6;
  border-radius: 5px;
  border: 3px solid #333;
  transition: 0.5s; }

::-webkit-scrollbar-thumb:hover {
  background: #8e44ad; }

::-webkit-scrollbar-corner {
  background: #E5EEC1; }

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  background: #9b59b6;
  color: #FFF;
  padding: 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  height: 50px;
  vertical-align: middle;
  transition: 0.5s; }
  .header h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0 15px 0 15px;
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s; }
    .header h2 img {
      height: 40px;
      transition: 0.5s; }
  .header .left, .header .right {
    width: 50%;
    height: 100%;
    margin: 0px;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s; }
  .header .right {
    text-align: right; }
  .header ul {
    list-style: none;
    display: inline-block;
    padding: 0px 10px 0px 10px;
    margin: 0px;
    border-left: 1px solid #8e44ad; }
    .header ul li {
      display: inline-block;
      padding: 10px;
      text-transform: lowercase;
      transition: 0.5s; }
    .header ul li:hover {
      color: #9b59b6;
      cursor: pointer; }
    .header ul .btn-nav {
      position: relative;
      display: inline-block; }
    .header ul .btn-nav:hover {
      color: #9b59b6; }
    .header ul .btn-nav:before {
      content: "";
      position: absolute;
      height: 2px;
      left: 0;
      bottom: 0;
      width: 100%;
      background: #FFF;
      transition: 0.5s;
      z-index: -1; }
    .header ul .btn-nav:hover:before {
      height: 100%; }
    .header ul .selected {
      color: #9b59b6; }
    .header ul .selected:before {
      height: 100%; }
  .header .theme {
    font-size: 0.8em;
    padding: 5px;
    transition: 0.5s; }
    .header .theme li {
      padding: 5px; }
  .header #slim-toggle {
    vertical-align: middle;
    fill: #FFF;
    width: 30px;
    height: 30px;
    padding: 5px;
    transition: 0.5s; }
  .header #slim-toggle:hover {
    cursor: pointer; }

.slim-header {
  padding: 0px;
  margin: 0px;
  height: 30px; }
  .slim-header h2 {
    font-size: 1em;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px; }
    .slim-header h2 img {
      height: 20px;
      width: 20px; }
  .slim-header .left, .slim-header .right {
    padding: 0px;
    width: 50%; }
  .slim-header ul li {
    padding: 5px;
    font-size: 0.8em;
    border: none; }
  .slim-header ul li:hover {
    border: none; }
  .slim-header ul .selected {
    border: none; }
  .slim-header .theme {
    display: none; }
  .slim-header #slim-toggle {
    transform: rotate(180deg); }

/* color palette */
[class^="shade-"] {
  width: 10px;
  margin: 0px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
  display: none; }

.shade-1 {
  background: #E5EEC1; }

.shade-2 {
  background: #8e44ad; }

.shade-3 {
  background: #9b59b6; }

.shade-4 {
  background: #333; }

.shade-5 {
  background: #222; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

/*# sourceMappingURL=nav.css.map */
