@import url(https://fonts.googleapis.com/css?family=Lato);

$global-font: 'Lato', sans-serif;

// "chill" shade set
$shade-1: #E5EEC1;
$shade-2: #A2D4AB;
$shade-3: #3EACA8;
$shade-4: #547A82;
$shade-5: #5A5050;

$soft-shadow: rgba(0, 0, 0, 0.4);
$softer-shadow: rgba(0, 0, 0, 0.2);
$invisible: rgba(0, 0, 0, 0);

* {
	font-family: $global-font;
}

html, body {
	background: $shade-5;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: $shade-4;
}

::-webkit-scrollbar-thumb {
	background: $shade-3;
	border-radius: 5px;
	border: 3px solid $shade-4;
	transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
	background: $shade-2;
	border: 2px solid $shade-4;
}

::-webkit-scrollbar-corner {
	background: $shade-1;
}

.header {
	position: fixed;
	z-index: 1;

	top: 0px;

	background: $shade-3;
	color: #FFF;
	padding: 0px;
	width: 100%;
	box-shadow: 0px 0px 10px $soft-shadow;
	border-bottom: 1px solid $shade-1;
	text-shadow: 0px 0px 2px $softer-shadow;

	overflow: hidden;

	height: 50px;

	vertical-align: middle;

	transition: 0.5s;

	h2 {
		font-size: 1.5em;
		margin: 0px;
		padding: 0px 15px 0px 15px;
		display: inline-block;
		vertical-align: middle;
		transition: 0.5s;
	}

	.left, .right {
		width: calc(50% - 10px);
		height: calc(100% - 10px);
		margin: 0px;
		padding: 5px;
		display: inline-block;
		vertical-align: middle;

		transition: 0.5s;
	}

	.right {
		text-align: right;
	}

	ul {
		list-style: none;
		display: inline-block;
		padding: 0px 10px 0px 10px;
		margin: 0px;

		//border-right: 1px solid $shade-2;
		border-left: 1px solid $shade-2;

		li {
			display: inline-block;
			padding: 10px;
			border-radius: 5px;
			text-transform: lowercase;

			transition: 0.5s;
		}

		li:hover {
			box-shadow: inset 5px 5px 0px $softer-shadow;
			text-shadow: 5px 5px 0px $softer-shadow;
			//border: 1px solid $shade-2;
			background: $shade-4;
			cursor: pointer;
		}

		.selected {
			@extend li:hover;
			background: $shade-5;
			//border: 1px solid $shade-2;
		}
	}

	.theme {
		font-size: 0.8em;
		padding: 5px;
		transition: 0.5s;

		li {
			padding: 5px;
		}
	}

	#slim-toggle {
		vertical-align: middle;
		fill: #FFF;
		width: 20px;
		height: 20px;
		padding: 5px;
		transition: 0.5s;
	}

	#slim-toggle:hover {
		cursor: pointer;
	}
}

.slim-header {
	padding: 0px;
	margin: 0px;
	height: 30px;

	h2 {
		font-size: 1em;
	}

	.left, .right {
		padding: 0px;
		width: 50%;
	}

	ul {
		li {
			padding: 5px;
			font-size: 0.8em;
			border: none;
		}

		li:hover {
			border: none;
		}

		.selected {
			border: none;
		}
	}

	.theme {
		display: none;
	}

	#slim-toggle {
		transform: rotate(180deg);
	}
}

// palette testers
.shade {
	width: 10px;
	margin: 0px;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
	z-index: 2;
}

.shade-1 {
	background: $shade-1;
}

.shade-2 {
	background: $shade-2;
}

.shade-3 {
	background: $shade-3;
}

.shade-4 {
	background: $shade-4;
}

.shade-5 {
	background: $shade-5;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}